<!DOCTYPE html>
<html>
<head>
  <title>My Requests</title>
  <style>
    body { font-family: Segoe UI; background:#f0f2f5; margin:0; }
    header { background:#2575fc; color:white; padding:20px; text-align:center; position:relative; }
    header a { position:absolute; right:20px; top:20px; color:white; text-decoration:none; }
    table { width:90%; margin:40px auto; border-collapse:collapse; background:white; }
    th, td { padding:12px; border-bottom:1px solid #ddd; }
    th { background:#f7f7f7; }
  </style>
</head>

<body>
<header>
  My Requests
  <a href="/logout">Logout</a>
</header>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Priority</th>
    <th>Status</th>
  </tr>

  {% for r in requests %}
  <tr>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
    <td>{{ r[4] }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
